fastapi==0.121.0
uvicorn==0.38.0
langchain==0.3.26
langchain-community==0.3.26
langchain-openai==0.3.27
pandas==2.3.1
numpy==2.3.1
pydantic==2.10.6
python-multipart==0.0.6
tenacity==9.0.0
faiss==1.9.0
faiss-cpu==1.11.0.post1
